/* index.css */
/* ./index.html 스타일 - 시작페이지 */
.container {
  margin: 0 auto;
  padding: 0 0 40px 0;
}

/* 필터 바 */
.filter-bar {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.filter {
  border: 1px solid #ccc;
  background: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap; 
  transition: all 0.2s ease;
}


.filter.active {
  background-color: #00462a;
  color: white;
  border-color: #00462a;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-align: left;
  transition: all 0.2s ease;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* 이미지 박스 추가 */
.image-box {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-card img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

/* 텍스트 정보 (상품명, 가격) 그룹 */
.text-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 30px;
}

.product-card h3 {
  font-size: 16px;
  margin: 8px 0 4px;
  text-align: left;
}

.product-card p {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

/* 찜 버튼 */
.like-wrapper-card {
  position: absolute;
  bottom: 16px;
  right: 16px;

  flex-direction: column-reverse;
  display: flex;
  align-items: center;

  gap: 6px;
  z-index: 10;
}

.like-count {
  font-size: 14px;
  color: #888;
  font-weight: 500;
}

.like-toggle {
  display: none;
}

.like-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;

  background-image: url("../image/icon/heart.svg");
  background-size: cover;
  transition: transform 0.2s ease;
}

.like-toggle:checked + .like-icon {
  background-image: url("../image/icon/heart-fill.svg");
}

.like-icon:hover {
  transform: scale(1.1);
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 6px 10px;
  border-radius: 6px;
}

.pagination a.active {
  /* 활성화된 페이지는 굵게만 처리 */
  font-weight: bold;
  background: none;
  color: #217f39;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  color: #00462a;
  margin: 0;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

page-nation li {
  list-style: none;
}

.page-wrap {
  text-align: center;
  font-size: 0;
}

.page-nation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-nation ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.page-nation a {
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
